{% extends "layout.html" %}
{% block title %} Event - {{ event.name }} {% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<article class="row">
	<section class="one whole padded">
        <img src="http://placehold.it/300x200/198d98/ffffff/" class="pull-left gap-right gap-bottom" alt="">
        <h1>Event: {{ event.name }} - <a href="/events/{{ event.id }}/edit">Edit</a></h1>
        <h4>Name:</h4>
        <p>{{ event.name }}</p>
	    <h4>Group:</h4>
        <p><a href="/groups/{{ event.group_id }}">{{ event.group }}</a></p>
    </section>
   	<section class="one whole padded">
	    <h4>Description:</h4>
        <p>{{ event.description }}</p>
	    <h4>Start Time:</h4>
	    <p>{{ format_time(event.start_time) }}</p>
        <h4>End Time:</h4>
        <p>{{ format_time(event.end_time) }}</p>

	    <hr>
    </section>
    <section class="one whole padded">
        <h4>Swipes:</h4>
        Total Attendance: {{count}}
        <ul class="list">
            {% for s in swipes %}
            <li>{{s.card.student_number}} @ {{format_time(s.timestamp)}}</li>
            {% endfor %}
        </ul>

        <hr>
    </section>
</article>
{% endblock %}