{% extends "layout.html" %}
{% block title %} Add Event {% endblock %}
{% block head %}
    {{ super() }}
<script src="/static/js/plugins/mobi/mobiscroll.core.js" type="text/javascript"></script>

    <script src="/static/js/plugins/mobi/mobiscroll.datetime.js" type="text/javascript"></script>
    <script src="/static/js/plugins/mobi/mobiscroll.select.js" type="text/javascript"></script>

    <script src="/static/js/plugins/mobi/mobiscroll.android-ics.js" type="text/javascript"></script>


    <link href="/static/css/mobiscroll.core.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/mobiscroll.android-ics.css" rel="stylesheet" type="text/css" />


    <link href="/static/css/mobiscroll.animation.css" rel="stylesheet" type="text/css" />



    <script type="text/javascript">
	$(document).ready(function(){

    $('.datetimepicker').mobiscroll().datetime({
        theme: 'android-ics light',
        display: 'bubble',
        animate: 'fade',
        mode: 'scroller',
        dateOrder: 'ddMy',
        dateFormat: 'dd/mm/yy'
    }); 
	});
    </script>
    <style>
    	table {
    		border: none;
    	}
    	table td {
    		background:transparent; 
    	}
    </style>

{% endblock %}
{% block content %}
<article class="row">
      <section class="one whole padded">
    <h1>Add Event</h1>
    <form id='add' action='/events/add' method='post' accept-charset='UTF-8'>
	<fieldset>
		<legend>Fill in details to create event</legend>
	{% if error %} 
	<p>{{ error }}</p>
	{% endif %}

	<div class="row">
    	<div class="one whole padded">
			<label for='name' >Name*:</label>
			<input type='text' name='name' id='name' />
		</div>
	</div>

	<div class="row">
    	<div class="one whole padded">
			<label for='description' >Description*:</label>
			<textarea name='description' id='description' ></textarea>
		</div>
	</div>

	<div class="row">
    	<div class="one half padded">
			<label for='start_time' >Start_time*:</label>
			<input class="datetimepicker" type='text' name='start_time' id='start_time' />
		</div>

		<div class="one half padded">
			<label for='end_time' >End_time*:</label>
			<input class="datetimepicker" type='text' name='end_time' id='end_time'/>
		</div>
	</div>

	<div class="row">
		<div class="one fourth padded">
			<label for='group_id' >Group*:</label>
	        <span class="select">
	          <select class="unselected" name='group_id' id='group_id'>
	            <option value="" disabled="" selected="">Group</option>
	            {% for g in groups %}
	            <option value="{{g.id}}">{{g.name}}</option>
            	{% endfor %}
	          </select>
	        </span>
	      </div>
	</div>
	 
	<div class="row">
      <div class="one whole padded">
 		<button type="submit" class="round">Submit</button>
 		<a href="/events" class="button round warning">Cancel</a>
      </div>
    </div>
	 
	</fieldset>
	</form>

	<hr>
	</section>
</article>
{% endblock %}