{% extends "layout.html" %}
{% block title %} Add Group {% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<article class="row">
      <section class="one whole padded">
    <h1>Add Group</h1>
    <form id='add' action='/groups/add' method='post' accept-charset='UTF-8'>
	<fieldset>
		<legend>Fill in details to create a new Group</legend>
	{% if error %} 
	<p>{{ error }}</p>
	{% endif %}

	<div class="row">
    	<div class="one whole padded">
			<label for='name' >Name*:</label>
			<input type='text' name='name' id='name' />
		</div>
	</div>

	<div class="row">
    	<div class="one whole padded">
			<label for='description' >Description*:</label>
			<textarea name='description' id='description' ></textarea>
		</div>
	</div>
	 
	<div class="row">
      <div class="one whole padded">
 		<button type="submit" class="round">Submit</button>
 		<a href="/groups" class="button round warning">Cancel</a>
      </div>
    </div>
	 
	</fieldset>
	</form>

	<hr>
	</section>
</article>
{% endblock %}